.steps{
  &__title{
    padding: 120px 0 57px 0;
    background-color: #fff;
    margin: auto;
    max-width: 720px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 1.2px;
    text-align: center;
  }
  &__list{
    counter-reset: steps;
    justify-content: space-between;
    max-width: 758px;
    margin: auto;
  }
  &__item
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 28px;
      border-radius: 100%;//999px;
      width: 48px;
      height: 48px;
      background: #014C48;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      color: var(--light-color);


      counter-increment: steps;
      content: counter(steps);
    }
    &--line{
      position: relative;
      flex-grow: 1;

      &::before{
        display: none;
      }
      &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -35px;
        width: 100%;
        height: 1px;
        background: rgba(53, 83, 98, 0.2);
        transform: translateY(-50%);
      }
    }
    }



  &__descr{
   margin: 0;
   max-width: 126px;
   font-weight: 400;
   font-size: 15px;
   line-height: 24px;
   text-align: center;
   color: rgba(53, 83, 98, 0.8);
  }
}
